# ==========================
# Operating System
# ==========================
.DS_Store
Thumbs.db

# ==========================
# Logs
# ==========================
*.log

# ==========================
# Environment Variables
# ==========================
.env
.env.*

# ==========================
# IDE Settings
# ==========================
.vscode/
.idea/
*.iml

# ==========================
# Java
# ==========================
target/
*.class

# ==========================
# Maven
# ==========================
.mvn/wrapper/maven-wrapper.jar

# ==========================
# Node.js / React
# ==========================
node_modules/
dist/
build/

# ==========================
# Miscellaneous
# ==========================
*.tmp
*.swp

# Uploaded files
uploads/